<app-header></app-header>

<br><br><br><br><br><br><br><br>

<div class="container">
    <p>Date de la command : {{myDate | date:'dd/MM/yyyy  HH:mm:ss'}}</p>
    <div class="row">
        <table id="customers" class="table">
            <thead>
                <tr>
                    <th><label>Id</label></th>
                    <th><label>Quantité</label></th>
                    <th><label>Produit</label></th>
                    <th><label>Prix</label></th>
                    <!-- <th><label>Action</label></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows; let i = index">
                    <td>{{row.id}}</td>
                    <td>{{row.quantityacht}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.prix}}</td>
                    <!-- <td (click)="deleterow(i, row.id, row.prix)">Delete</td> -->
                </tr>
            </tbody>
        </table>
        <span>Prix total :  {{totalprix}}</span>
        
        <br>
        <hr>
        <span>le prix payer : {{prixcln}}</span>
        <br>
        <hr>
        <span>le reste : {{prixcln-totalprix}}</span>
        <hr>
        <a class="btn btn-success" (click)="print()" >Imprimer</a>
        
    </div>

   
  </div>
