<app-header></app-header>

<br><br><br><br><br><br><br><br>

<div class="container">
    <div class="row">
      
      <div >
          
        <nav class="navbar">
            
            <div class="dropdown">
                <button class="dropbtn">Rechercher par :</button>
                <div class="dropdown-content">
                    <li (click)="nameinput = true; qntinput = false; prixinput = false;">Nom</li>
                    <li (click)="nameinput = false; qntinput = true; prixinput = false;">Quantité</li>
                    <li (click)="nameinput = false; qntinput = false; prixinput = true;">Prix</li>
                </div>
            </div>
            <hr>
            <input *ngIf="nameinput" type="text" class="form-control" name="searchname" [(ngModel)]="searchname" (input)="Searchname()" placeholder="Recherche par nom">
            <input *ngIf="qntinput" type="text" class="form-control" name="searchqnt" [(ngModel)]="searchqnt" (input)="Searchqnt()" placeholder="Recherche par quantité">
            <input *ngIf="prixinput" type="text" class="form-control" name="searchprix" [(ngModel)]="searchprix" (input)="Searchprix()" placeholder="Recherche par prix">
            <hr>
        </nav>
        
            <div *ngIf="pagehidden" class="row">
      
                <div class="col-sm-2 " *ngFor="let user of rowststg | paginate : {id:'listprod' ,itemsPerPage:50,currentPage:p} ; let i=index" >
                    <div class="prod_class">
                        <img [src]="user.prodimg" alt="prodimg">
                        <p>{{user.name}}</p>
                        <p>{{user.prix}} DH</p>
                        <span>{{user.ref}}</span>
                        <hr>
                        <button class="btn btn-success form-control" (click)="updateInfo(user.id,user.prodimg,user.name,user.qntttc,user.qntnoir,user.prix,user.prixachat,user.ref,user.cat,user.unit)">Modifier</button>
                        <button class="btn btn-success form-control" (click)="deleteprod(user.id,user.name)">Supprimer</button>
                    </div>
                </div>
                <span class="plus" (click)="addprd=true">
                    +
                </span>
                <br>
                <hr>
                <pagination-controls id="listprod" (pageChange)="p = $event"></pagination-controls>
            </div>
            <!-- <div *ngIf="searchhidden" class="row">
     
                <div class="col-sm-4" *ngFor="let user of rowssearch | paginate : {id:'listprod' ,itemsPerPage:5,currentPage:p} ; let i=index" >
                    <img [src]="user.prodimg" alt="prodimg">
                    <span>{{user.name}}====>>quantity: {{user.quantity}}<<====>>{{user.prix}}</span>
                    <hr>
                    <button *ngIf="user.quantityacht > 0" class="btn btn-success" (click)="addrow(user.id,user,user.name,user.quantity,user.prix,user.prixachat)">Acheter</button>
                    <button class="btn btn-success" (click)="updateInfo(user.id,user.prodimg,user.name,user.quantity,user.prix,user.prixachat)">Modifier</button>
                    <button class="btn btn-success" (click)="deleteprod(user.id,user.name)">Supprimer</button>
                    <hr>
                    <input type="number" class="form-control" name="quantityacht" [(ngModel)]="user.quantityacht" min="1">

                </div>
                
                <br>
                <hr>
                <pagination-controls id="listprod" (pageChange)="p = $event"></pagination-controls>
            </div> -->
         
      </div>
    </div>

    <form *ngIf="addprd" class="modall">
        <span class="close" (click)="addprd=false; imgchnge=false;">X</span>
        <img *ngIf="imgchnge" [src]="newprod.prodimg" alt="prodimg">
        <br>
        <label for="prodimg">l'image</label>
        <input class="form-control" type="file" name="prodimg" [(ngModel)]="newprod.prodimg" (change)="imgadd()">
        <hr>
        
        <label for="name">le nom</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="newprod.name">
        <hr>
        
        <label for="qntttc">la quantité TTC</label>
        <input class="form-control" type="text" name="qntttc" [(ngModel)]="newprod.qntttc">
        <hr>
        <label for="qntnoir">la quantité noir</label>
        <input class="form-control" type="text" name="qntnoir" [(ngModel)]="newprod.qntnoir">
        <hr>
        
        <label for="prix">le prix de vente</label>
        <input class="form-control" type="text" name="prix" [(ngModel)]="newprod.prix">
        <hr>

        <label for="prixachat">le prix d'achat</label>
        <input class="form-control" type="text" name="prixachat" [(ngModel)]="newprod.prixachat">
        <hr>

        <label for="cat">Catégorie</label>
        <input class="form-control" type="text" name="cat" [(ngModel)]="newprod.cat">
        <hr>
        <label for="unit">Unité</label>
        <input class="form-control" type="text" name="unit" [(ngModel)]="newprod.unit">
        <hr>
        <button class="btn btn-success" (click)="addprod()">Ajouter</button>
    </form>

    <section *ngIf="update" class="modall">
        <span class="close" (click)="update=false">X</span>
        <img [src]="img" alt="prodimg">
        <br>
        <label for="imgmodal">changer l'image</label>
        <input class="form-control" type="file" name="imgmodal" [(ngModel)]="imgmodal" (change)="imgchange()">
        <hr>
        
        <label for="namemodal">changer le nom</label>
        <input class="form-control" type="text" name="namemodal" [(ngModel)]="namemodal">
        <hr>
        
        <label for="qntttcmodal">changer la quantité TTC</label>
        <input class="form-control" type="text" name="qntttcmodal" [(ngModel)]="qntttcmodal">
        <hr>
        <label for="qntnoirmodal">changer la quantité noir</label>
        <input class="form-control" type="text" name="qntnoirmodal" [(ngModel)]="qntnoirmodal">
        <hr>
        
        <label for="prixmodal">le prix de vente</label>
        <input class="form-control" type="text" name="prixmodal" [(ngModel)]="prixmodal">
        <hr>

        <label for="prixachatmodal">le prix d'achat</label>
        <input class="form-control" type="text" name="prixachatmodal" [(ngModel)]="prixachatmodal">
        <hr>

        <label for="refmodal">Code à bare</label>
        <input class="form-control" type="text" name="refmodal" [(ngModel)]="refmodal">
        <hr>
        <label for="catmodal">Catégorie</label>
        <input class="form-control" type="text" name="catmodal" [(ngModel)]="catmodal">
        <hr>
        <label for="unitmodal">Unité</label>
        <input class="form-control" type="text" name="unitmodal" [(ngModel)]="unitmodal">
        <hr>
        <button class="btn btn-success" (click)="updateInfoBD()">Modifier</button>
    </section>
  </div>
