#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .modall{
    position: fixed;
    padding: 30px 50px;
    top: 50%; 
    left: 50%; 
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149);
    z-index: 1000;
  }

span.close{
  cursor: pointer;
}

.plus{
  transform: translate(50%, 50%);
  width: 85px;
  height: 85px;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-weight: bolder;
  background-color: #4CAF50;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;

  &:hover{
    opacity: .7;
  }
}

td.delete{
  transition: .5s;

  img{
    max-width: 30px;
    cursor: pointer;
  }
  &:hover{
    opacity: .5;
  }
}

.prod_class{
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149);

  img{
    width: 100%;
  }

  p{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
  }
  p:last-of-type{
    color: red;
  }

  button{
      margin: 10px 0;
  }
}



hr, br{
  width: 100%;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}