#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .modall{
    position: fixed;
    padding: 30px 50px;
    top: 50%; 
    left: 50%; 
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149);
    z-index: 1000;
  }

span.close{
  cursor: pointer;
}

.plus{
  transform: translate(50%, 50%);
  width: 85px;
  height: 85px;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-weight: bolder;
  background-color: #4CAF50;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: .5s;

  &:hover{
    opacity: .7;
  }
}

td.delete{
  transition: .5s;

  img{
    max-width: 30px;
    cursor: pointer;
  }
  &:hover{
    opacity: .5;
  }
}