<app-header></app-header>

<br><br><br><br><br><br><br><br>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <table id="customers" class="table">
            <thead>
                <tr>
                    <th><label>Quantité</label></th>
                    <th><label>Produit</label></th>
                    <th><label>Prix</label></th>
                    <th><label>Supprimer</label></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows; let i = index">
                    <td>{{row.quantityacht}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.prix}}</td>
                    <td class="delete d-flex justify-content-center">
                        <img src="../../../assets/imgs/delete.webp" (click)="deleterow(i, row.id, row.prix, row.prixachat, row.quantityacht)" alt="delete">
                    </td>
                </tr>
            </tbody>
        </table>
        <span *ngIf="totalprix > 0">Prix total :  {{totalprix}}</span>
        <hr>
        <a *ngIf="totalprix > 0" class="btn btn-success" routerLink="/buyprod">Vendre</a>
      </div>
      <div class="col-sm-8" >
          
        
            <div class="row">
      
                <div class="col-sm-2" *ngFor="let user of rowststg | paginate : {id:'listprod' ,itemsPerPage:50,currentPage:p} ; let i=index" >
                    <div class=" prod_class">
                        <img [src]="user.prodimg" alt="prodimg">
                        <p>{{user.name}}</p>
                        
                        <p>{{user.prix}} DH</p>
                        <span>{{user.ref}}</span>
                        <hr>
                        <button *ngIf="user.quantityacht > 0" class="btn btn-success form-control" (click)="addrow(user.id,user,user.name,user.quantity,user.quantityacht,user.prix,user.prixachat)">Vendre</button>
                        <hr>
                        <label for="quantityacht">La quantité vendre</label>
                        <input type="number" class="form-control" name="quantityacht" [(ngModel)]="user.quantityacht" min="1">
                    </div>
                </div>
                
                <br>
                <hr>
                <pagination-controls id="listprod" (pageChange)="p = $event"></pagination-controls>
            </div>
            
      </div>
    </div>
  </div>
