<app-header></app-header>

<br><br><br><br><br><br><br><br>

<div class="container">
    <div class="row" *ngFor="let jor of jornals ; let i=index">
        <hr><hr>
        <h1>{{Jornalobs.id}}</h1>
        <hr>
        <!-- {{jor[i].infos}} -->
        <table id="customers" class="table">
            <thead>
                <tr>
                    <th><label>Quantité</label></th>
                    <th><label>Produit</label></th>
                    <th><label>Prix de vente</label></th>
                    <th><label>Prix d'achat</label></th>
                    <th><label>Profit</label></th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of jor; let j = index">
                    <td>{{row.quantityacht}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.prix}}</td>
                    <td>{{row.prixachat}}</td>
                    <td>{{row.prix-row.prixachat}}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th><label>Total</label></th>
                    <th><label></label></th>
                    <th><label>{{Jornalobs.prixdvente}}</label></th>
                    <th><label>{{Jornalobs.prixdachat}}</label></th>
                    <th><label>{{Jornalobs.profit}}</label></th>
                </tr>
            </thead>
        </table>
        
    </div>
   
  </div>

<!-- <br><br><br><br><br><br><br><br>
<app-footer></app-footer> -->