<section id="" class="container " style=" width: 100%; height: 280px;top: -30px; position: relative;
   background-color: black; box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149); z-index: 20;" >
    <div class="container">
      <div class="row align-items-center" style="color: white;">
        <div class="col-4 offset-1">
          <img src="../../../assets/imgs/iph1.png" style="width: 90px;height: 30px;" alt="">
        </div>
        <div class="col-4 offset-3 font-weight-bolder" >
          <br>
         <p> Rejoignez-nous sur &nbsp;
          <i class="fab fa-facebook-square"></i>&nbsp;
          <i class="fab fa-linkedin"></i>&nbsp;
          <i class="fab fa-instagram-square"></i>
        </p>
        </div>
      </div>
     
    </div>

    <div class="container " style="color: white; font-size: 13.5px;">
      <div >
        
        <div class="row justify-content-center ">
        <div class="col-sm-2 ">
          <div class="font-weight-bolder" style="font-size: 15px;">Réparation</div>  <br>
             
        </div>
        <div class="col-sm-2 ">
          <div class="font-weight-bolder" style="font-size: 15px;">Smartphones</div>  <br>
          

        </div>
        <div class="col-sm-2 ">
          <div class="font-weight-bolder" style="font-size: 15px;">Découvrez aussi</div>  <br>
          

        </div>
        <div class="col-sm-2 ">
          <div class="font-weight-bolder" style="font-size: 15px;">Besoin d’aide ?</div>  <br>
          

        </div>
        <div class="col-sm-2 ">
          <div class="font-weight-bolder" style="font-size: 15px;">A propos de nous</div>  <br>
      

        </div>
      </div>
        
      </div>
    </div>
</section>
 
<!-- <footer style="height: 60px; background-color: orangered;position: relative;  top: -60px;">
  <footer style="height: 60px; background-color: orangered;position: relative;  bottom: -60px;">
                <p style="text-align: center;color: white; ">@OMAR // {{dat | date}}</p>
   
  </footer>
</footer> -->

